<div class="modal fade" id="login-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form action="/User/Login" method="post">

                @*
                    HTTP REQUEST:
                    VERB: GET | POST | PUT | DELETE
                *@

                <div class="modal-header bg-primary">
                    <div class="modal-title text-center">
                        Login
                        <span class="close" data-dismiss="modal">&times;</span>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="userName" placeholder="Enter User Name" class="form-control">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" name="password" placeholder="Enter Password" class="form-control">
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success form-control" id="app-login-btn">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>